/*
Author: Mustaq Halder
email: mynameismustaq@gmail.com

*/

* {margin: 0;padding: 0;border: 0;}

body{background: url("../images/bg.jpg") no-repeat right bottom; font-family: 'Verdana', sans-serif; margin: 0;}

h1 {
	font-size: 150%;
	font-weight: 700;
	text-align: center;
	background-color: #000;
	padding-top: 2%;
	padding-bottom: 2%;
	color: #00afff;
	font-family: Roboto,sans-serif;
}

.job-desc h2 {
	clear: both;
	font-size: 175%;
	line-height: 100%;
	padding: 2% 0 2% 0;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
}

h2{
	font-size: 150%;
	font-weight: 700;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 5%;
	color: #006da0;
}

h3{
	clear: both;
	font-size: 175%;
	line-height: 100%;
	padding: 2% 0 2% 0;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
	background-color: #006da0;
}

p{

	color: #006da0;
	font-size: 100%;
	line-height: 160%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

img{
	max-width: 100%;
	height:auto;
	width: auto;
	margin: -4px;
}

header{
	background-color: #414141;
	border-bottom: 5px solid black;
	width: 100%;
	height: 86px;
}

#header-div{
	max-width: 1200px;
	margin: 0 auto;

}

/*---Navigation Style --*/

nav{
	float: right;
	padding: 25px 20px 0 0;
}

/*-- Menu icon style -- */

#menu-icon{
	display:none;
	width: 50px;
	height: 50px;
	background: url("images/nav.png")  no-repeat center;
}

a:hover#menu-icon{
	border-radius: 8px;
}

ul {
	list-style-type: none;
}

 nav ul li{
	font-size:13px;
	font-weight: 700;
	display:inline-block;
	float:left;
	padding: 10px;
}

 nav ul li a{
	color: #006da0;
	 text-decoration: none;
	 padding: 10px;
	}

nav ul li a:hover{
	color:#000;
	font-size: 110%;
}

.active{
	color:#000;
	background-color: yellow;
	border: 3px solid #000000;
	padding-right: 10px;
	padding-left:10px;
	border-radius: 6px;
	font-size: 110%;
}

/*--- End Navigation  --*/
.banner{
	width: 100%;
	color: #fff;
}

#index-span {background: #2da1d6;
height: 3px;
display: block;
width: 100%;}

#cover-h6 {color: #fff;}
#desc-h6 {color: #fff;}
#service-h6 {color: #fff;}
#banner-h6 {color: #fff;}
.feat{
	width:25%;
	float:left;
	padding-bottom: 5%;
	text-align: center;

}
article{
	float:left;
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding-bottom: 0%;
}

/*-- Start Email */

.foot-email {
	clear:both;
	background-color: #000;
	width: 100%;
	height: 50px;
	padding-bottom: 20px;
}
.foot-email h6 {color: #000;}

.foot-email p{
	color: #000;
	padding: 5px 0 5px 0;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
}
/*-- Start Footer */

footer{
	clear:both;
	background-color: #414141;
	width: 100%;
	height: 200px;
	padding-top: 10px;
}

footer.foot{
	border-top: 5px solid #00afff;
	max-height: 40px;
	text-align: center;
	margin: 0;
}

footer.foot p{
	color: #00afff;
	padding: 5px 0 5px 0;
	text-align: center;
	font-size: 0.7em;
	font-weight: 200;
}

/*-- End Footer */
.job-desc h2{
	background-color: black;
}

.job-desc p {
	font-weight: 700;
	text-align: center;
}


.job-heading h3{
	text-align: center;
	font-size: 150%;
	padding: 15px;
	color: #ffffff;
}

.job-section h4{
	text-align: center;
	font-size: 150%;
	padding: 15px;
	color: #fff;
	background-color: #000;
}

.job-section h5{
	font-size: 150%;
	padding: 15px;
	color: #fff;
}

.job-section h6{
	font-size: 120%;
	padding: 15px;
	color: #fff;
}
.job-section{

  margin-left: 50px;
  background-color: #414141;
    float: left;
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
    color: #666;
	width: 100%;
}

.job-aside{
    font-size: 12px;
    font-family: Roboto,sans-serif;
    color: #00afff;
	width: 25%;
	border: 4px inset purple;
	border-radius: 14px;
	margin: 1em;
	padding: 1em;
	float: right;
	box-shadow: 10px 10px 5px #aaaaaa;}

.beside-aside h6{color: #fff;}

.job-section em{
	width: 50px;
color: #ffffff;
font-style: normal;
font-size: 14px;

}

.job-section span{
max-width: 50%;
vertical-align: top;
font-size: 16px
}


.job-section p{

	color: #00afff;
	font-size: 100%;
	line-height: 160%;
	padding: 1%;
	text-indent: 2%;
	text-align: justify;
}


.job-list-ul{
	width:20%;
	float:left;



}

.job-list-ul li{
	color:#00afff;
	text-align: justify;
	font-size: 1.2em;
	list-style: disc;
	margin-right: -4px;

}

.job-list-ol {
	display: block;
	float: left;
	width:20%;
	padding-left: 30px;


}
.job-list-ol li{
	text-align: justify;
	font-size: 1.2em;
	margin-right: -4px;
	color:#00afff;

}

/* Enquire Page  */

.apply-heading h3{
	background-color: #000000;
}

.application-form{
	padding: 50px;
	font-size: 1em;
	line-height: 2em;
	background-color: #414141;
	color:#00afff;
}
#reset-button{

	background-color: #00afff;
	border: none;
	font-size: 16px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition-duration: 0.4s;
}

#reset-button:hover {
background-color: #4CAF50; }

#apply-button{
	background-color: #00afff;
	border: none;
	font-size: 16px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition-duration: 0.4s;


}

#apply-button:hover {
background-color: #4CAF50;
 }

.student-details h3{
	background-color: black;
}

.detail {width: 63%;
background-color: #414141;
color:#00afff;
float: left;
}
.detail h6 {color: #414141;}

.detail dl {
	padding-left:90px;
	padding-bottom: 200px;
	padding-top: 200px;
	}

.detail dl dt{
	float:left;
	font-size: 100%;
	color: #00afff;
	}


.detail dd {
font-size: 120%;
color: #fff

}


.my-photo {
width: 36%;
	float: right;
	}

.my-timetable{
	clear:both;
	padding-top:20px;
	padding-bottom: 20px;
}

.my-timetable h6{
	background-color: black;
	color: white;
	text-align: center;
	font-size:200%;
}


.time-table{
 padding: 20px;
 margin: 10px;
 background-color: #00afff;
 float:left;
 border: double #000;
 border-radius: 8px;

}

.time-table td{
 text-align: center;
 padding: 20px 20px  0 20px;
 font-weight: 200;
 font-size: 110%;
 line-height: 1.5em;
 background-color: #414141;
 color: #00afff;

}

.time-table th{
  line-height: 1.5em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  font-size: 150%;
}

.email p{
	width: 100%;
background-color: #414141;
color:#00afff;
float: left;
font-size: 130%;
padding: 4px;
text-align: center;

}

audio {float: right;}

/* Pseudo-class  */
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.job-desc p::first-line {
    color: #ff0000;
    font-variant: small-caps;
}


.contact-info h6{
	background-color: black;
	color: white;
	text-align: center;
	font-size:200%;
}

/*transition */

#transition-button {
    width: 150px;
    height: 100px;
    background: black;
    transition: width 3s;
	text-align: center;
	font-size: 200%;
	padding-top: 35px;
}

#transition-button:hover {
    width: 900px;
}

/*   Animation */

.job-desc h2 {
    background-color: black;
    animation-name: HIRING;
    animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes HIRING {
    from {background-color: black;}
    to {background-color: green;}
}



.enhancement-list-ol h3 {width: 100%; font-size: 200%; text-align: center; background-color: black;}

.enhancement-list-ol ol {margin-left: 50px;
  background-color: #414141;
    text-align: center;
    font-size: 24px;
    padding: 0;
    margin: 0;
	line-height: 10px;
    font-family: Roboto,sans-serif;
    color: #00afff;
	width: 100%;
}


.my-photo1 {
  position: relative;

}

.myphoto {
  display: block;
  height: auto;
  border: 6px solid red;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.my-photo1:hover .image-overlay {
  width: 100%;
  left: 0;
}

.overlay-text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.enhancement-list-desc h6{ background-color: yellow;
							text-align: center;
							font-size: 24px;
}

.diven{
	float:left;
	width: 11.11%;
	text-align: center;
	font-size: 56px;

}

.endiv {
	clear: both;
	width: 100%;
	height: 100px;
}

#en-button{
	background-color: #00afff;
	border: none;
	font-size: 16px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition-duration: 0.4s;
	width: 100%;

}

#en-button:hover {
background-color: #4CAF50;
 }

#en-clock{
	background-color: #00afff;
	border: none;
	font-size: 24px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: white;
	transition-duration: 0.4s;
	width: 100%;

}

#en-clock:hover {
background-color: #4CAF50;
 }

#div1 {height:80px; background-color:red;}
#div2 {height:80px; background-color:blue;}
#div3 {height:80px; background-color:green;}
#div4 {height:80px; background-color:red;}
#div5 {height:80px; background-color:blue;}
#div6 {height:80px; background-color:green;}
#div7 {height:80px; background-color:red;}
#div8 {height:80px; background-color:blue;}
#div9 {height:80px; background-color:green;}

.endiv h6 { color: white;}
/* manage page */
.search-form{
	padding: 50px;
	font-size: 1em;
	line-height: 2em;
	background-color: #414141;
	color: #00afff;
}
